.venv
.env
*.build/
*.dist/
files/images/*.png
files/label_studio/*.json
files/models/
files/ocr_tasks/*.json
src/images/*.png
src/pdfs/*.pdf
*.xml
*pdf
files/images/eval/*
!files/images/eval/.gitignore
files/images/train/*
!files/images/train/.gitignore